<div class="bg-primary">
<div class="container bg-primary">
<div class="w-25" ><%= flash[:notice]%></div>
<%= link_to "新規登録", new_task_path, class:"btn btn-light"%>

<div class="d-flex justify-content-around">
 <div class="task_notstart task_wrap">
    <h2 class="text-center h4">未着手ゾーン</h2>
    <div class="text-center m-2">
    <%= link_to "昇順", tasks_path(direction:'ASC'), class:"btn btn-light"%>
    <%= link_to "降順", tasks_path(direction:'DESC'), class:"btn btn-light"%>
    </div>
    <% @task.each do |tasks| %>
    <%= link_to(task_path(tasks.id), class: 'list-content') do %>
    <div class="task_content mx-auto">
        <%= tasks.name %><br>
        <%= tasks.detail %><br>
        <%= tasks.deadline %><br>
            </div>
                <% end %>
    <% end %>
    </div>
        <div class="task_inP task_wrap">
    <h2 class="text-center h4">
    進行中
    </h2>
    </div>

    <div class="task_done task_wrap">
    <h2 class="text-center h4">
    完了
    </h2>
    </div>
    </div>
</div>
</div>