<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
</div>
<div class="container">
<div class="d-flex">
<p>名前：<%= session[:name] %>　</p>
<p>ID：<%= session[:user_id] %></p>
  </div>
<%= render partial: 'form', locals: { task: @task } %>
<%= link_to "戻る", tasks_path %>
</div>