<%= form_for @task do |f| %>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :details %>
  <%= f.text_area :details %>
  </p>
  <%= f.submit class:'btn btn-primary'%>
<% end %>
<%= link_to "戻る", tasks_path %>