<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<%= form_for @task do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :detail %>
  <%= f.text_area :detail %>
  </p>
  <p>
  <%= f.label :deadline %>
  <%= f.date_select :deadline %>
  </p>
  <%= f.submit class:'btn btn-primary'%>
<% end %>
<%= link_to "戻る", tasks_path %>