<div class="container">
<table class="table">
  <tbody>
        <tr>
            <th>タイトル</th>
            <td><%= @task.name %></td>
        </tr>
        <tr>
            <th>内容</th>
            <td><%= @task.detail %></td>
        </tr>
        <tr>
            <th>期限</th>
            <td><%= @task.deadline %></td>
        </tr>
        <tr>
            <th>進捗</th>
            <td><%= @task.progress_i18n %></td>
        </tr>
  </tbody>  
</table>
<%= link_to'編集',edit_task_path,class:"btn btn-white"%>
<%= link_to'削除',task_path(@task.id),method: :delete,data:{confirm: "本当に削除しますか？"},class:"btn btn-danger"%>
</div>