<div class="container">
<div class="d-flex">
<p>名前：<%= session[:name] %>　</p>
<p>ID：<%= session[:user_id] %></p>
  </div>
<table class="table">
  <tbody>
        <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>管理者権限</th>
            <td><%= @user.admin %></td>
        </tr>
  </tbody>  
</table>
<%= link_to'編集',edit_admin_user_path,class:"btn btn-white mb-3"%>
<%= link_to'削除',admin_user_path(@user.id),method: :delete,data:{confirm: "本当に削除しますか？"},class:"btn btn-danger mb-3"%>
    <table class="table table-hover boards__table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>詳細</th>
                <th>期限</th>
                <th>進捗</th>
                <th>優先度</th>
                <th>詳細</th>
                <th>u_id</th>
            </tr>
        </thead>
        <tbody>
            <%  @user.tasks.each do |task| %>
                    <tr>
                        <td><%= task.id %></td>
                        <td><%= task.name %></td>
                        <td><%= task.detail %></td>
                        <td><%= task.deadline %></td>
                        <td><%= task.progress_i18n %></td>
                        <td><%= task.priority_i18n %></td>
                        <td><%= link_to "詳細", task_path(task.id), class:"btn btn-success"%></td>
                        <td><%= task.user_id %></td>
                    </tr>
            <% end %>
        </tbody>
    </table>
</div>